#####
# Binaries
#####
rsh
*.deb
*.rpm
*.dmg
*.exe

#####
# Project Files
#####
.idea/
.vscode/

#####
# CMake
#####
cmake_install.cmake
CMakeCache.txt
Makefile
CMakeFiles/
_CPack_Packages/
install_manifest.txt
CPackConfig.cmake
CPackSourceConfig.cmake
Debug
rsh.dir

#####
# Visual Studio
#####
*.vcxproj.filters
*.vcxproj
*.sln
Win32/